In [190]:
#Mission to Mars
# Dependencies and Setup
!pip install selenium
!pip install splinter
from bs4 import BeautifulSoup
from splinter import Browser
from selenium import webdriver
import pandas as pd

Requirement already satisfied: selenium in c:\users\sanaz\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\sanaz\anaconda3\lib\site-packages (from selenium) (1.24.2)
Requirement already satisfied: splinter in c:\users\sanaz\anaconda3\lib\site-packages (0.13.0)
Requirement already satisfied: selenium>=3.141.0 in c:\users\sanaz\anaconda3\lib\site-packages (from splinter) (3.141.0)
Requirement already satisfied: six in c:\users\sanaz\anaconda3\lib\site-packages (from splinter) (1.12.0)
Requirement already satisfied: urllib3 in c:\users\sanaz\anaconda3\lib\site-packages (from selenium>=3.141.0->splinter) (1.24.2)

In [191]:
executable_path = {"executable_path":r"C:\Users\sanaz\Desktop\WebScraping\chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless = False)

In [192]:
news_url = "https://mars.nasa.gov/news/"
#browser.get(news_url)
browser.visit(news_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [193]:
 news = soup.find_all('div',{'class':'slide'})

In [194]:
print(news)

[<div class="slide slick-slide slick-cloned" index="-3" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8622/virginia-middle-school-student-earns-honor-of-naming-nasas-next-mars-rover/">
<div class="rollover_description">
<div class="rollover_description_inner">
NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover" class="img-lazy" data-lazy="/system/news_items/list_view_images/8622_1-PIA23764-RoverNamePlateonMars-320x240.jpg" src="/assets/loading_320x240.png"/>
</a>
</div>
<div class="content_title">
<a href="/news/8622/virginia-middle-school-student-earns-honor-of-naming-nasas-next-mars-rover/">
Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover
</a>
</div>
</div>, <div class="slide slick-slide slick-cloned" index="-2" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8606/nasa-prepares-for-moon-and-mars-with-new-addition-to-its-deep-space-network/">
<div class="rollover_description">
<div class="rollover_description_inner">
Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network" class="img-lazy" data-lazy="/system/news_items/list_view_images/8606_list_image.jpg" src="/assets/loading_320x240.png"/>
</a>
</div>
<div class="content_title">
<a href="/news/8606/nasa-prepares-for-moon-and-mars-with-new-addition-to-its-deep-space-network/">
NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network
</a>
</div>
</div>, <div class="slide slick-slide slick-cloned" index="-1" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8603/nasa-administrator-statement-on-moon-to-mars-initiative-fy-2021-budget/">
<div class="rollover_description">
<div class="rollover_description_inner">
Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget" class="img-lazy" data-lazy="/system/news_items/list_view_images/8603_list_image.jpg" src="/assets/loading_320x240.png"/>
</a>
</div>
<div class="content_title">
<a href="/news/8603/nasa-administrator-statement-on-moon-to-mars-initiative-fy-2021-budget/">
NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget
</a>
</div>
</div>, <div class="slide slick-slide slick-active" index="0" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8645/mars-helicopter-attached-to-nasas-perseverance-rover/">
<div class="rollover_description">
<div class="rollover_description_inner">
The team also fueled the rover's sky crane to get ready for this summer's history-making launch.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="Mars Helicopter Attached to NASA's Perseverance Rover" class="img-lazy" src="/system/news_items/list_view_images/8645_PIA23824-RoverWithHelicopter-32x24.jpg?1587270921721" style="opacity: 0.0591;"/>
</a>
</div>
<div class="content_title">
<a href="/news/8645/mars-helicopter-attached-to-nasas-perseverance-rover/">
Mars Helicopter Attached to NASA's Perseverance Rover
</a>
</div>
</div>, <div class="slide slick-slide slick-active" index="1" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8641/nasas-perseverance-mars-rover-gets-its-wheels-and-air-brakes/">
<div class="rollover_description">
<div class="rollover_description_inner">
After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes" class="img-lazy" src="/system/news_items/list_view_images/8641_PIA-23821-320x240.jpg?1587270921721" style="opacity: 1;"/>
</a>
</div>
<div class="content_title">
<a href="/news/8641/nasas-perseverance-mars-rover-gets-its-wheels-and-air-brakes/">
NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes
</a>
</div>
</div>, <div class="slide slick-slide slick-active" index="2" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8634/109-million-names-now-aboard-nasas-perseverance-mars-rover/">
<div class="rollover_description">
<div class="rollover_description_inner">
As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="10.9 Million Names Now Aboard NASA's Perseverance Mars Rover" class="img-lazy" src="/system/news_items/list_view_images/8634_PIA23769-320x240.jpg?1587270921722" style="opacity: 1;"/>
</a>
</div>
<div class="content_title">
<a href="/news/8634/109-million-names-now-aboard-nasas-perseverance-mars-rover/">
10.9 Million Names Now Aboard NASA's Perseverance Mars Rover
</a>
</div>
</div>, <div class="slide slick-slide" index="3" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8622/virginia-middle-school-student-earns-honor-of-naming-nasas-next-mars-rover/">
<div class="rollover_description">
<div class="rollover_description_inner">
NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover" class="img-lazy" data-lazy="/system/news_items/list_view_images/8622_1-PIA23764-RoverNamePlateonMars-320x240.jpg" src="/assets/loading_320x240.png"/>
</a>
</div>
<div class="content_title">
<a href="/news/8622/virginia-middle-school-student-earns-honor-of-naming-nasas-next-mars-rover/">
Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover
</a>
</div>
</div>, <div class="slide slick-slide" index="4" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8606/nasa-prepares-for-moon-and-mars-with-new-addition-to-its-deep-space-network/">
<div class="rollover_description">
<div class="rollover_description_inner">
Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network" class="img-lazy" data-lazy="/system/news_items/list_view_images/8606_list_image.jpg" src="/assets/loading_320x240.png"/>
</a>
</div>
<div class="content_title">
<a href="/news/8606/nasa-prepares-for-moon-and-mars-with-new-addition-to-its-deep-space-network/">
NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network
</a>
</div>
</div>, <div class="slide slick-slide" index="5" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8603/nasa-administrator-statement-on-moon-to-mars-initiative-fy-2021-budget/">
<div class="rollover_description">
<div class="rollover_description_inner">
Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget" class="img-lazy" data-lazy="/system/news_items/list_view_images/8603_list_image.jpg" src="/assets/loading_320x240.png"/>
</a>
</div>
<div class="content_title">
<a href="/news/8603/nasa-administrator-statement-on-moon-to-mars-initiative-fy-2021-budget/">
NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget
</a>
</div>
</div>, <div class="slide slick-slide slick-cloned" index="6" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8645/mars-helicopter-attached-to-nasas-perseverance-rover/">
<div class="rollover_description">
<div class="rollover_description_inner">
The team also fueled the rover's sky crane to get ready for this summer's history-making launch.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="Mars Helicopter Attached to NASA's Perseverance Rover" class="img-lazy" src="/system/news_items/list_view_images/8645_PIA23824-RoverWithHelicopter-32x24.jpg?1587270921722" style="opacity: 0;"/>
</a>
</div>
<div class="content_title">
<a href="/news/8645/mars-helicopter-attached-to-nasas-perseverance-rover/">
Mars Helicopter Attached to NASA's Perseverance Rover
</a>
</div>
</div>, <div class="slide slick-slide slick-cloned" index="7" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8641/nasas-perseverance-mars-rover-gets-its-wheels-and-air-brakes/">
<div class="rollover_description">
<div class="rollover_description_inner">
After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes" class="img-lazy" src="/system/news_items/list_view_images/8641_PIA-23821-320x240.jpg?1587270921723" style="opacity: 1;"/>
</a>
</div>
<div class="content_title">
<a href="/news/8641/nasas-perseverance-mars-rover-gets-its-wheels-and-air-brakes/">
NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes
</a>
</div>
</div>, <div class="slide slick-slide slick-cloned" index="8" style="width: 279px;">
<div class="image_and_description_container">
<a href="/news/8634/109-million-names-now-aboard-nasas-perseverance-mars-rover/">
<div class="rollover_description">
<div class="rollover_description_inner">
As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="10.9 Million Names Now Aboard NASA's Perseverance Mars Rover" class="img-lazy" src="/system/news_items/list_view_images/8634_PIA23769-320x240.jpg?1587270921723" style="opacity: 1;"/>
</a>
</div>
<div class="content_title">
<a href="/news/8634/109-million-names-now-aboard-nasas-perseverance-mars-rover/">
10.9 Million Names Now Aboard NASA's Perseverance Mars Rover
</a>
</div>
</div>]

In [195]:
news_title = soup.find("div", class_="content_title").text
news_paragraph= soup.find("div", class_ ="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_paragraph}")

Title: Mars Now
Para: The team has learned to meet new challenges as they work remotely on the Mars mission.

In [196]:
for story in news:
     print(story.find("div", {"class":"content_title"}).text)

Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover




NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network




NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget




Mars Helicopter Attached to NASA's Perseverance Rover




NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes




10.9 Million Names Now Aboard NASA's Perseverance Mars Rover




Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover




NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network




NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget




Mars Helicopter Attached to NASA's Perseverance Rover




NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes




10.9 Million Names Now Aboard NASA's Perseverance Mars Rover

In [197]:
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=featured#submit"

browser.visit(url_image)

In [198]:

#Getting the base url
from urllib.parse import urlsplit
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(url_image))
print(base_url)

https://www.jpl.nasa.gov/

In [199]:
#Design an xpath selector to grab the image
xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [200]:
#to bring the full resolution image
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [202]:

#get image url using BeautifulSoup
html_image = browser.html
soup = BeautifulSoup(html_image, "html.parser")
img_url = soup.find("img", class_="fancybox-image")["src"]
full_img_url = base_url + img_url
print(full_img_url)

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA23436_hires.jpg

In [203]:
#Mars Weather

In [204]:
#get mars weather's latest tweet from the website
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [208]:

html_weather = browser.html
soup = BeautifulSoup(html_weather, "html.parser")

mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")
print(mars_weather)

None

In [209]:
url_facts = "https://space-facts.com/mars/"

In [210]:
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [211]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [212]:
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [213]:
url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemisphere)